body {
  font-family: 'Arial', sans-serif;
  background-color: #b1c4d1;
  margin: 0;
  padding: 20px;
  color: #333;
}

.Toastify__toast--error {
  background: #f56565;
  color: white;
}

.Toastify__toast--success {
  background: #48bb78;
  color: white;
}
